<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="AcmeChallengeStaticFile" path=".well-known/acme-challenge/*" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <staticContent>
        <mimeMap fileExtension="." mimeType="text/plain" />
      </staticContent>
      <aspNetCore processPath="dotnet" arguments=".\SynteraERP.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <rewrite>
        <rules>
          <rule name="RedirectToHttps" stopProcessing="true">
            <match url="^\.well-known/acme-challenge/.*" negate="true" />
            <conditions>
              <add input="{HTTPS}" pattern="^OFF$" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
          </rule>
          <rule name="SkipApiForRewrite" stopProcessing="true">
            <match url="^api/.*" />
            <action type="None" />
          </rule>
          <rule name="SkipAcmeChallengeForRewrite" stopProcessing="true">
            <match url="^\.well-known/acme-challenge/.*" />
            <action type="None" />
          </rule>
          <rule name="ReverseProxyToFrontend" stopProcessing="true">
            <match url="(.*)" />
            <action type="Rewrite" url="http://localhost:4028/{R:1}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
