<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SynteraERP.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <rewrite>
        <rules>
          <rule name="SkipApiForRewrite" stopProcessing="true">
            <match url="^api/.*" />
            <action type="None" />
          </rule>
          <rule name="ReverseProxyToFrontend" stopProcessing="true">
            <match url="(.*)" />
            <action type="Rewrite" url="http://localhost:4028/{R:1}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
